dotenv_if_exists
watch_file flake.nix flake.lock local-build-cfg.nix
watch_dir nix

# PATH_add ./zig-out/bin
load_prefix ./zig-out/
# PATH_add ./examples/mlir-cpp/build/
# load_prefix ./examples/mlir-cpp/build/

export TASKDATA="$PWD/.task"
export TASKRC="$PWD/.taskrc"
export ZG_LLAMA_SAFETENSORS_PATH="$PWD/weights/llama-3.2-1b-instruct/model.safetensors"

# This is the sole entry point that loads the optional local-build-cfg.nix.
use flake .#default --impure --cores 32
