dotenv_if_exists
watch_file flake.nix flake.lock
watch_dir nix/flake

if type -t layout_uv && command -v uv >/dev/null 2>&1; then
  layout uv --sync --sync-args "--all-groups --all-extras"
fi

# PATH_add ./zig-out/bin
load_prefix ./zig-out/
# provides zigrad_mlir_lsp_server
# PATH_add ./shim/build/
load_prefix ./shim/build/

export TASKDATA="$PWD/.task"
export TASKRC="$PWD/.taskrc"
export ZG_LLAMA_SAFETENSORS_PATH="$PWD/weights/llama-3.2-1b-instruct/model.safetensors"

echo "Using an impure build to use local config"
use flake .#default --impure --cores 32
