export CCACHE_DIR=/var/tmp/ccache
export ZG_SDK_IMPURE_CCACHE=1
log_error "Using impure ccache ZG_SDK_IMPURE_CCACHE=$ZG_SDK_IMPURE_CCACHE ZG_SDK_DEVEL=$ZG_SDK_DEVEL"
# tput setaf 1
use flake .#default --option sandbox false --impure
