# exts
*.json
*.so
*.png
*.svg
*.d2
*.log
.*vim*
*.csv
*.norg
*.org
*.trace
*.air.*
*.lock
*.bak
*.gz
*.tar
*.zip
*.local.*

# paths
zig-out
*cache*
.DS_Store
*venv
outputs*
.python-version
drafts
data
*ignore
!.gitignore
.direnv
.env
!.envrc
vendor/
reference/
result
result-*

!docs/architecture.norg
!docs/roadmap.norg
!docs/*.png
artifacts/

!nix/**/*ccache*
/weights/

.task/

*.wasm
!website/nuxt-content/shiki-grammars/*.json
!website/**/*.svg
shim/build
shim/build-mlir
*.mlir
!shim/test/*.mlir
*.ll
