# exts
*.json
*.so
*.png
*.svg
*.d2
*.log
.*vim*
*.csv
*.norg
*.org
*.trace
*.air.*
*.lock

# paths
zig-out
*cache*
.DS_Store
*venv
outputs*
.python-version
drafts
data
*ignore
.direnv
.env

!docs/architecture.norg
!docs/roadmap.norg
!docs/*.png
