/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  /* background-color: #2b3137; */
   /*background-color: var(--ifm-footer-background-color);*/
}

/*.heroBanner {*/
/*   background-color: #2b3137; */
/*}*/

/**/
/*[data-theme='dark'] .heroTitleText {*/
/*  color: var(--ifm-font-color-secondary);*/
/*}*/
/**/
/*[data-theme='dark'] .heroTaglineText {*/
/*  color: var(--ifm-font-color-secondary);*/
/*}*/


@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.indexCtas {
  /*--ifm-button-size-multiplier: 1.6;*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.indexCtas a,
.indexCtas a:hover {
  color: black;
}

.indexCtas a:last-of-type {
  margin: 20px 36px;
}

.indexCtasGitHubButtonWrapper {
  display: flex;
}

.indexCtasGitHubButton {
  overflow: hidden;

}

.indexCtaTryNowButton:hover {
  color: var(--ifm-color-primary);
}

@media only screen and (max-width: 768px) {
  .hero {
    padding-left: 20px;
    padding-right: 20px;
  }

  .heroInner {
    padding: 0;
  }

  .heroProjectTagline {
    text-align: center;
  }

  .heroLogo {
    display: block;
    float: none;
    margin: 0 auto;
  }

  .indexCtas {
    justify-content: center;
  }

  .indexCtas a {
    margin: 20px 36px;
  }

  .indexCtasGitHubButton {
    display: none;
  }
}


